
.landing-container{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.landing-text{
padding: 40px;
width: 38vw;
height: 100vh;

}

.landing-pic {
width: 60vw;
height: 100vh;
background-size: cover;

}




.bounce-top{animation:bounce-top 1.5s linear both} @keyframes bounce-top{0%{transform:translateY(-200px);animation-timing-function:ease-in;opacity:1}24%{opacity:1}40%{transform:translateY(-24px);animation-timing-function:ease-in}65%{transform:translateY(-12px);animation-timing-function:ease-in}82%{transform:translateY(-6px);animation-timing-function:ease-in}93%{transform:translateY(-4px);animation-timing-function:ease-in}25%,55%,75%,87%{transform:translateY(0);animation-timing-function:ease-out}100%{transform:translateY(0);animation-timing-function:ease-out;opacity:1}}
