.product-price-index {
  // display: inline-block;
  // position: absolute;
  // top: -1px;
  // height: 50px;
  // font-family: 'Trocchi', serif;
  // margin: 0 0 0 38px;
  font-weight: lighter;
  color: #474747;
  // display: inline-block;
  // height: 5px;
  // font-family: 'Suranna', serif;
  font-size: 17px;
}

.title-price-index {
  display: flex;
  justify-content: space-between;
}

.product-text-index h2 {
  // margin:47px 38px;
  font-size: 15px;
  // font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  overflow: hidden;
  // letter-spacing: 0.2em;
}


a {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: none;
    color: black;
  }
}

