
<div class="landing-container" >
  <div class="d-flex " >
    <div class="d-flex flex-column justify-content-center">
      <h4 class="tracking-in-expand"> Anniversaire, mariage, barmitzvah...</h4>
      <h3 class="tracking-in-expand">Pour chaque occasion, trouvez votre caillou.</h3>
    </div>
</div>

<a class="btn btn-flat" href="<%= rocks_path %>">Je veux mon caillou</a>
