<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<!-- app/views/articles/index.html.erb -->
<%= cl_image_tag("https://res.cloudinary.com/dwcmq45ak/image/upload/v1653385459/Rocky%20Aloha/zeny-rosalina-lZWwcP1Vdbw-unsplash_bpusdq.jpg",
      width: 400, height: 300, crop: :fill) %>

<!-- for face detection -->
<%= cl_image_tag("https://res.cloudinary.com/dwcmq45ak/image/upload/v1653384553/Rocky%20Aloha/Capture_d_%C3%A9cran_2022-05-23_%C3%A0_15.55.05_r84qz2.png",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>
