<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="banner" style="background-image: url('<%=cl_image_path("Rocky Aloha/zeny-rosalina-lZWwcP1Vdbw-unsplash_bpusdq", height: 300, crop: :fill)%>')">


  <div class="container">

    <p> heee heee </p>
    <a class="btn btn-flat" href="#">pierre qui roule n'amasse pas mousse</a>
  </div>
</div>
<div class="cards">
  <div class="card-category">
    pierre de conversation
  </div>
</div>
