<div class="container-fluid col-12">
<div class="banner">
  <div class="container">
    <h1>Nous avons <strong>le caillou</strong> qu'il vous faut  !</strong>!</h1>
  </div>
</div>

<div class="container-fluid container py-3 mt-4">
    <h2 class="h3">Trouvez la pierre</h2>
    <div class="row mt-4">
        <% @rocks.each do |rock| %>
        <div class="col-md-3">
        <div class="card-full">
            <div class="card mb-3 border-0">
                <img src= <%=  cl_image_path(rock.photo.key, height: 300) %> class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><%= link_to "#{rock.name.capitalize}", rock_path(rock)%></h5>
                    <p class="card-text"><%="#{rock.description}"%></p>
                </div>
            </div>
          </div>
        </div>
          <% end %>
    </div>
</div>
</div>
