.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.card-body {
  width: 100%;
  height: 20vw;
  object-fit: cover;
}

.card-text {
  overflow: hidden;
  // text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.card-full {
  border-radius: 10px;
}
