.navbar-rockyaloha {
  justify-content: space-between;
  background: white;
  opacity: O.1;
}

.navbar-rockyaloha .navbar-collapse {
  flex-grow: 0;
}

// .navbar-rockyaloha .navbar-brand img {
//   width: 40px;
// }

.nav-link{
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

#logo-navbar{
  width: 70px;
  height: 70px;
}
